.comments {
    margin-top: 50px;
    line-height: 14.1px;
}

.comments-item {
    margin-bottom: 30px;

    > .comments {
        padding-left: 30px;
        margin-top: 30px;

        @include breakpoint($mobile-bp) {
            padding-left: 15px;
        }
    }
}

.comments-header {
    display: flex;
    margin-bottom: 15px;
}

.comments-avatar {
    width: 30px;
    height: 30px;

    border-radius: 50%;
}

.comments-author {
    flex-grow: 1;
    padding-left: 15px;

    font-size: 12px;
}

.comments-name {
    color: $white;
    font-weight: 500;
}

.comments-pubdate {
    color: #757575;
}

.comments-text {
    margin-bottom: 5px;

    font-size: 12px;
    color: $white;
}

.comments-reply {
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 12px;
    color: $blue;

    &:hover {
        text-decoration: underline;
    }
}



