.form {

    &--auth {
        max-width: 280px;
        margin: 0 auto;
    }
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    padding: 5px 0 10px;

    background: none;
    border: none;
    border-bottom: 1px solid #3F3F3F;
    border-radius: 0;
    box-shadow: none;

    font-family: inherit;
    font-size: 14px;
    color: $white;

    &::placeholder {
        color: rgba($white, .2);
    }

    &:focus + .form-line {
        width: 100%;
    }

    &--textarea {
        height: 30px;
        overflow: hidden;
        resize: none;
    }

}

.form-line {
    width: 0;
    height: 1px;
    background-color: $blue;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    transition: width .4s linear;
}

.form-footer {
    
    &--center {
        text-align: center;
    }
}

.form-footer-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  
    
    a {
        font-size: 12px;
        color: $white;
    }
}