.search {
    position: relative;
    display: flex;
    max-width: 210px;
    width: 100%;
    margin-left: 16px;
    background-color: $primary;
}

.search-input {
    display: block;
    padding: 12px 20px;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 12px;
    color: $white;

    &::placeholder {
        color: rgba($white, .4);
    }
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 100;

    transform: translateY(-50%);
    border: none;
    background: transparent;

    color: rgba($white, .4);
    transition: color .2s linear;

    &:hover {
        color: $white;
    }
}