.social {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    @include breakpoint($tablet-bp) {
       justify-content: space-around;
    }
}

.social-item {
    margin: 7.5px;
}