<div class="modal" id="contact-modal">
    <div class="modal-content modal--contact">
        
        <form class="form" action="/" method="POST">
            <button class="modal-close" type="button">
                <img src="assets/images/close.svg" alt="close">
            </button>
            
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Ваше имя">
                <span class="form-line"></span>
            </div>

            <div class="form-group">
                <input class="form-control" type="email" placeholder="Ваш e-mail">
                <span class="form-line"></span>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" placeholder="Текст сообщения">
                <span class="form-line"></span>
            </div>

            <div class="form-footer">
                <button class="btn btn--blue btn--rounded btn--sm">Отправить</button>
                
            </div>
            
        </form>

        <ul class="modal-footer">
            <li>
                e-mail:
                <a href="mailto:zaezyura@gmail.com">zaezyura@gmail.com</a>
            </li>
            <li>
                тел:
                <a href="tel:+380973778283">+380-973-778-283</a>
            </li>
        </ul>
    </div> <!-- /.modal-content -->
</div> <!-- /.modal -->