<header class="header">
    <div class="header-left">
        <nav class="nav">
            <ul class="nav-list">
                <li>
                    <a class="nav-link" href="index.html">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link has-subnav" href="#">Статті</a>

                    <ul class="subnav">
                        <li>
                            <a class="subnav-link" href="post1.html">Grid vs Flexbox: що обрати?</a>
                        </li>
                        <li>
                            <a class="subnav-link"  href="post2.html">Способи спрощення обробників подій</a>
                        </li>
                        <li>
                            <a class="subnav-link"  href="post3.html">Як створити форму валідації в HTML5?</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" href="aboutme.html">Про мене</a>
                </li>
                <li>
                    <a class="nav-link" href="profile.html">Профіль</a>
                </li>
            </ul>
        </nav>
    </div>

    <button class="burger" type="button" id="sidebarToggle">
        <span>open nav</span>
    </button>

    <div class="header-right">
        <nav class="nav"> 
            <ul class="nav-list">
                <li>
                    <a class="nav-link" href="signup.html">Реєстрація</a>
                </li>
                <li>
                    <a class="nav-link" href="signin.html">Увійти</a>
                </li>
            </ul>
        </nav>
        <form class="search"  action="search.html">
            <input class="search-input" type="text" placeholder="Пошук по блогу">
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</header>
