<div class="modal">
    <div class="modal-content">
        
            <button class="modal-close" type="button">
                <img src="assets/images/close.svg" alt="close">
            </button>
            
            <ul class="social">
                <li class="social-item">
                    <a href="#" >
                        <img src="assets/images/share/facebook.svg" alt="">
                    </a>
                </li>

                <li class="social-item">
                    <a href="#" >
                        <img src="assets/images/share/twitter.svg" alt="">
                    </a>
                </li>

                <li class="social-item">
                    <a href="#" >
                        <img src="assets/images/share/vk.svg" alt="">
                    </a>
                </li>

                <li class="social-item">
                    <a href="#" >
                        <img src="assets/images/share/copy.svg" alt="">
                    </a>
                </li>
            </ul>

    </div> <!-- /.modal-content -->
</div> <!-- /.modal -->