<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <img src="assets/images/sidebar-header.jpg" alt="" />
    </div>

    <div class="sidebar-content">
        <div class="profile">
            <img class="profile-avatar" src="assets/images/avatar.png" alt="">
            <div class="profile-header">
                <div class="profile-name">Сагура Юрій</div>
                <div class="profile-prof">блог front-end розробника</div>
            </div>

            <ul class="social">
                <li class="social-item">
                    <a href="https://www.instagram.com/zaezyura/" target="_blank">
                        <img src="assets/images/instagram.svg" alt="Sagura Yura instagram">
                    </a>
                </li>
                <li class="social-item">
                    <a href="mailto:zaezyura@gmail.com" target="_blank">
                        <img src="assets/images/gmail.svg" alt="Sagura Yura gmail">
                    </a>
                </li>
                <li class="social-item">
                    <a href="https://telegram.me/zaezyura" target="_blank">
                        <img src="assets/images/telegram.svg" alt="Sagura Yura telegram">
                    </a>
                </li>
            </ul>

            <div class="profile-text">
                <p>Початківець Front-end розробки.
                    Планую пов'язати своє життя з розробкою веб-сайтів.
                </p>
            </div>
        </div> <!-- /.profile -->

        <nav class="nav nav--mobile">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link has-subnav" href="#">Статті</a>

                    <ul class="subnav">
                        <li>
                            <a class="subnav-link" href="post1.html">Grid vs Flexbox: що обрати?</a>
                        </li>
                        <li>
                            <a class="subnav-link"  href="post2.html">Способи спрощення обробників подій</a>
                        </li>
                        <li>
                            <a class="subnav-link"  href="post3.html"> Як створити форму валідації в HTML5?</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutme.html">Про мне</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile.html">Профіль</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">Реєстрація</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signin.html">Увійти</a>
                    </li>
            </ul>
        </nav>
    </div> <!-- /.sidebar-content -->

    <div class="sidebar-footer">
        <a class="btn  btn--red" href="works.html">Мої роботи</a>
        <button class="btn  btn--blue" type="button" data-modal="contact-modal">Написати мені</button>
    </div>
</aside>
